@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.app {
  height: 100vh;
  background: red;
}

.navName, .nav-link {
  font-family: 'Noto Serif', serif;
}

.card {
  width: 23rem;
  height: 30rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid .row {
  padding-top: 6rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.5);
}

.carousel-image {
  transition: transform 0.75s ease;
}

.carousel-image:hover {
  cursor: pointer;
  transform: scale(0.85);
}

.heroTitle{
  font-size:60pt;
  font-family: 'Noto Serif', serif;
}

.heroSubTitle {
  font-size:35pt;
  font-family: 'Noto Serif', serif;
}

.heroText {
  font-size:15pt;
  font-weight: lighter;
  font-family: monospace;
  padding-top:20px;
}

.about img {
  width: 15rem;
}



@media only screen and (max-width: 900px) {

  .heroTitle{
    font-size:35pt;
    text-align:center;
  }

  .heroSubTitle {
    font-size:25pt;
    text-align:center;
  }
  
  .heroText {
    font-size:15pt;
    padding-top:0px;
    text-align:center;
  }

  .junImage {
    padding:20px;
    display:flex;
    text-align:center;
  }

  .about .subtitle {
    padding-bottom:20px;
  }

  .card {
    width:20rem;
  }
  
}